    {% load static %}
    <div class="container">
        <div class="box_header">
            <div class="row align-items-center">
                <div class="col-sm-5 col-md-3 col-xl-3">
                    <div class="logo_box_head">
                        <a href="{% url 'index' %}">
                            <img src="{% static '/img/logo_ac.png' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">
                    <div class="head_number">
                        <a href="tel:(3842)44-14-90" class="number">(3842)44-14-90</a>
                        <p class="consultant_text">
                            Отдел кадров
                        </p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                    <div class="head_number">
                        <a href="tel:(3842)44-14-92" class="number"> (3842)44-14-92</a>
                        <p class="consultant_text">
                            Центр аттестации
                        </p>
                    </div>
                </div>
                <div class="offset-2 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="logo_box_free">
                        <img src="{% static '/img/logo_2.png' %}" class="logo_otstup"
                            title="Лауреат Премии Правительства РФ в области качества 2012 года" alt="" alt="">
                        <img src="{% static '/img/logo_3.png' %}" class="logo_otstup2"
                            title="Лауреат Премии СНГ 2013 года за достижения в области качества" alt="" alt="">
                        <img src="{% static '/img/logo_4.png' %}" class="logo_otstup"
                            title="Член Международного Института Сварки" alt="" alt="">
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="logo_box_sasp">
                        <img src="{% static '/img/sasp.png' %}"
                            title="Организация допущена к выполнению работ по аттестации сварочного производства"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'mainapp/includes/menu-bg-header.html' %}
    <div class="bg_header_inner_page">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="headline_bg_inner_page">
                        Информация о центре
                    </div>
                    <p class="subtitle_inner_page_text">
                        ООО «Кузбасский центр сварки и контроля»
                    </p>
                    <button class="back_to_home_page">
                        <a href="{% url 'index' %}" class="link_to_home_page">
                            <img src="/static/img/back_to_page.png" class="img_back_to_page" alt="">На главную
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="box_img_center">
                    <a href="{% static 'img/img_center_1.jpg' %}" data-fancybox="images"
                        data-caption="Backpackers following a dirt trail">
                        <img src="{% static 'img/img_center_1.jpg' %}" class="img-fluid img_center mr-2" />
                    </a>
                </div>
                <div class="headline_center">
                    Кузбасский центр сварки и контроля
                </div>
                <div class="box_center_content">
                    <p class="content_center_text">
                        Деятельность ООО «Кузбасский центр сварки и контроля» направлена на обеспечение качества
                        сварочного производства технических устройств опасных производственных объектов, требования к
                        которым установлены нормативными документами Ростехнадзора и Системы аттестации сварочного
                        производства (САСв).
                    </p>
                    <p class="content_center_text">
                        В реестре системы аттестации сварочного производства (САСв) зарегистрированы: Центр специальной
                        (объектноориентированной)
                        подготовки сварщиков и специалистов сварочного производства ССР-3ЦСП; Головной аттестационный
                        центр сварщиков и специалистов сварочного производства ССР-3ГАЦ; Центр по аттестации сварочных
                        материалов АЦСМ-46; Центр по аттестации сварочного оборудования АЦСО-82; Центр по аттестации
                        сварочных технологий АЦСТ-90.
                    </p>
                    <p class="content_center_text">
                        В штате сотрудников ООО «КЦСК» работают известные в России и за рубежом ученые, опытные инженеры
                        и специалисты, преподаватели университетов и колледжей Кузбасса. Все процедуры аттестации
                        регистрируются в реестре НАКС: www.naks.ru.
                    </p>
                    <p class="content_center_text">
                        В своей деятельности при аттестации специалистов сварочного производства, материалов,
                        оборудования и технологий сотрудники Центра пользуются базой методических документов,
                        разработанных НАКС. Системный подход НАКС к решению проблем качества в сварочном производстве
                        позволяет ООО «КЦСК» на протяжении 20 лет успешно решать поставленные цели и задачи.
                        ООО «КЦСК» под руководством НАКС расширяет сферы свой деятельности.
                    </p>
                </div>
                <div class="headline_center">
                    Политика ООО «КЦСК» в области качества
                </div>
                <div class="box_center_content">
                    <p class="content_center_text">
                        <b>Стратегическая цель – максимальная эффективность,</b> результативность, лидерство при
                        выполнении работ по Аттестации сварочного производства в Кузбасском регионе и на российском
                        рынке, интеграция в мировую экономику.
                    </p>
                    <p class="content_center_text">
                        В реестре системы аттестации сварочного производства (САСв) зарегистрированы: Центр специальной
                        (объектноориентированной)
                        подготовки сварщиков и специалистов сварочного производства ССР-3ЦСП; Головной аттестационный
                        центр сварщиков и специалистов сварочного производства ССР-3ГАЦ; Центр по аттестации сварочных
                        материалов АЦСМ-46; Центр по аттестации сварочного оборудования АЦСО-82; Центр по аттестации
                        сварочных технологий АЦСТ-90.
                    </p>
                    <div class="subtitle_center">
                        Для этого ООО «КЦСК» решает следующие задачи:
                    </div>
                    <div class="box_content_step">
                        <ul class="list_step_content_center">
                            <li> - непрерывное улучшение качества выполняемых работ;</li>
                            <li> - освоение новых видов работ в соответствии с ожидаемыми потребностями;</li>
                            <li> - максимальное удовлетворение запросов потребителей;</li>
                            <li> - максимальное выполнение ожиданий заинтересованных сторон.</li>
                        </ul>
                    </div>
                    <div class="subtitle_center">
                        Мы достигаем реализации поставленных задач путем:
                    </div>
                    <div class="box_content_step">
                        <ul class="list_step_content_center">
                            <li>• Совершенствования действующей системы менеджмента качества и внедрения международных
                                стандартов серии ИСО 9000;</li>
                            <li>• Постоянного исследования и расширения рынков сбыта за счет освоения новых видов услуг;
                            </li>
                            <li>• Применения современных технологий для усовершенствования работ и услуг;</li>
                            <li>• Постоянного совершенствования процессов, технологий, производств, методов исследования
                                и контроля, применяемых при аттестации сварочного производства;</li>
                            <li>• Обеспечения требуемыми ресурсами в необходимых объемах и хорошего качества;</li>
                            <li>• Систематического повышения профессиональной подготовки персонала;</li>
                            <li>• Совершенствования мотивации творческой активности работников;</li>
                            <li>• Пропаганды деятельности для создания единого корпоративного духа и привлечения
                                заинтересованных сторон;</li>
                            <li>• Разъяснения Политики в области качества, ее реализации на всех уровнях управления ООО
                                «КЦСК» и создание условий, обеспечивающих осознанное вовлечение работников в процессы
                                менеджмента качества;</li>
                            <li>• Совершенствование системы аттестации сварочного производства, вывод ее на качественно
                                новый уровень;</li>
                            <li>• Соблюдения всех требований законодательства Российской Федерации, требований
                                нормативных документов в части промышленной безопасности при проведении работ по
                                аттестации сварочного производства;</li>
                            <li>• Гарантирования качества проводимых работ по аттестации сварочного производства на срок
                                действия выдаваемых документов по аттестации сварочного производства.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Конец меню -->