{% load static %}
<div class="box_content_include">
    <div class="container">
            <div class="row">
                    <div class="col-xl-12">
                        <div class="head_box_content">
                            <p class="head_name_box">
                               Наши партнеры
                            </p>
                            <p class="head_box_content_small_text">
                                Многолетнее сотрудничество с крупными компаниями
                            </p>
                        </div>
                    </div>
                </div>
        <div class="row align-items-center">
            <div class="owl-carousel owl-theme">
                <div class="img-item img-fluid">
                    <img src="{% static '/img/transneft.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/mechel.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/bash.png' %}" alt="">
                    </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/rgd.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/bsk.png' %}" alt="">
                    </div>            
                <div class="img-item img-fluid">
                    <img src="{% static '/img/ural.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/vnzm.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/bsk.png' %}" alt="">
                    </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/gazprom.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/nefaz.png' %}" alt="">
                </div>              
                <div class="img-item img-fluid">
                    <img src="{% static '/img/bsk.png' %}" alt="">
                </div>                
                <div class="img-item img-fluid">
                    <img src="{% static '/img/bash.png' %}" alt="">
                </div>

            </div>

        </div>
    </div>
</div>