{% load static %}
<div class="box_content_include">
<div class="container" id="service">
        <div class="row">
                <div class="col-xl-12">
                    <div class="head_box_content">
                        <p class="head_name_box">
                            Услуги центра
                        </p>
                        <p class="head_box_content_small_text">
                            Вы можете подробнее ознакомиться с основными направлениями деятельности нашего центра
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for publ in publications %}
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="box_img_service" style="background: url({{ publ.photo }}) no-repeat;">
                        <a href="" class="service_link">
                            <div class="box_content">
                                <p class="name_service">
                                    {{ publ.post.title }}
                                </p>                                
                            </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
        
            </div>
            
</div>
</div>