{% load link_holders %}
<div class="sider_bar_service_pages">
    <div class="box_doc_right_column">
        <p class="headline_side_panel">
            Требования к аттестации:
        </p>
        <a data-info="RD_495" href="{% link_holder 'RD_495' %}" class="trebovanie__list">
            <p>
                • РД 03-613-03</p>
        </a>
        <div class="line_side_panel"></div>
    </div>
    <div class="box_doc_right_column">
        <p class="headline_side_panel">
            Заявки
        </p>
        <a data-info="PB_273" href="{% link_holder 'PB_273' %}" class="trebovanie__list">
            <p>Форма заявки на аттестацию сварочных материалов производителя</p>
        </a>
        <a data-info="RD_495" href="{% link_holder 'RD_495' %}" class="trebovanie__list">
            <p>Форма заявки на аттестацию сварочных материалов потребителя</p>
        </a>
        <div class="line_side_panel"></div>
    </div>
    <div class="box_right_column_service">
        <p class="headline_side_panel">
            Другие услуги
        </p>

        <div class="list__service__column">
                <ul class="side_panel_list_link">
                        <li>
                            <a  href="{% link_holder 'ATTSP' %}" class="side_panel_right_column_text">{% title_holder 'ATTSP' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSP' %}" class="side_panel_right_column_text">{% title_holder 'ATTSP' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSO' %}" class="side_panel_right_column_text">{% title_holder 'ATTSO' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTS' %}" class="side_panel_right_column_text">{% title_holder 'ATTS' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSSP' %}" class="side_panel_right_column_text">{% title_holder 'ATTSSP' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSM' %}" class="side_panel_right_column_text">{% title_holder 'ATTSM' %}</a>                             
                        </li>
                    </ul>          
        </div>

    </div>
</div>