{% load link_holders %}
<div class="sider_bar_service_pages">
    <div class="box_right_column_service">
        <p class="headline_side_panel">
            Услуги нашего центра:
        </p>

        <div class="list__service__column">
                <ul class="side_panel_list_link">
                        <li>
                            <a  href="{% link_holder 'ATTSP' %}" class="side_panel_right_column_text">{% title_holder 'ATTSP' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSP' %}" class="side_panel_right_column_text">{% title_holder 'ATTSP' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSO' %}" class="side_panel_right_column_text">{% title_holder 'ATTSO' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTS' %}" class="side_panel_right_column_text">{% title_holder 'ATTS' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSSP' %}" class="side_panel_right_column_text">{% title_holder 'ATTSSP' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSM' %}" class="side_panel_right_column_text">{% title_holder 'ATTSM' %}</a>                             
                        </li>
                    </ul>          
        </div>

    </div>
</div>