// Спецификация

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
 
}


@media (min-width: 360px) {
    .container {
        max-width: 1570px;
    }
}

.container-fluid{
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
}

//  Политика конфиденциальности

.header__political {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 450;
    color: #000;
    margin-top: 15px;
  
    @media screen and (max-width: 1199px) {
        margin-top: 15px;
    }
  
  }
  
  .political__text__small {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .text_pynkt{
  font-size: 14px;
  font-weight: 450;
  }
  
  .line_end {
    border: 0.5px solid #ebebeb;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .header_right_column{
    font-size: 20px;
    font-weight: 400;
    color: #000;
  }
  
  .box_right_column a{
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  }
  
  .sider_bar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(45vh);
  }
  
  .left_line_headline {
    border: 0.5px solid #39567e;
    margin-top: 35px;
    width: 95px;
    @media screen and (max-width: 992px) {
      display: none;     
    }
  }