// Меню
.menu__background {
background-color: rgba(9, 40, 80, 0.781);
    padding: 30px 0px 30px 0px;

    // border-radius: 7px;    
    @media screen and (max-width: 992px) {
        padding: 15px 0px;
        margin-bottom: 0px;
    }

}

.line_menu {
    border: 0.5px solid #fff;
}

.navbar {
    font-size: 16px;
    color: #fff;   
    text-align: center; 
}

.menu__navbar{
    text-align: right;
}

.menu__navbar ul {
    color: #fff;
    font-size: 16;
    text-transform: uppercase;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.menu__navbar .navbar {
    padding: 0;
}

.menu__navbar .navbar li {
    cursor: pointer;
}

.menu__navbar .navbar .nav-item .nav-link {
    padding: 0;
    color: #fff;
    font-weight: 450;
}


.menu__navbar .navbar-expand-lg .navbar-nav .nav-link {    
    margin-right: 35px;
    @media screen and (max-width: 992px) {
      margin: 0;
      margin-bottom: 15px;
     }

}

.dropdown-item {
    padding: 12px;
    @media screen and (max-width: 320px) {
       margin-bottom: 10px;
       padding: 0px 10px;
    }
}

.dropdown-menu {
    margin-top: 22px;
    color: #ecf5fe;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
    border: none;
    border-radius: 0px;
    text-transform: initial;
    padding: 12px;
    @media screen and (max-width: 320px) {
        font-size: 16;
        width: 290px;
    }
}

.dropdown-item a {
    margin-bottom: 1px solid #000;
}

.menu__navbar .navbar .nav-item .nav__link__two {
    margin-right: 35px;
    color: #fff;
    font-weight: 450;
}

.nav-item .nav__link__two .dropdown-menu{
    @media screen and (max-width: 992px) {
       display: none;
    }
}

.navbar-collapse {
    @media screen and (max-width: 992px) {
        line-height: 2;
    }

    @media screen and (max-width: 320px) {
        line-height: 2;
    }
}

.navbar-dark .navbar-nav .nav-link .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}


.navbar-dark .navbar-toggler {
    background-color: transparent;
    border: none;
}


.dropdown-item.active,
.dropdown-item:active {
    background-color: #03274b;
}

.navbar-toggler {
    padding: 0px;
}

// Конец меню

// Форма поиска
.form-control {
    background-color: transparent;
    float: right;
}

.form-inline {
    @media screen and (max-width: 320px) {
        width: 75%;
    }
}

.form-control:focus {
    color: #000;
    background-color: transparent;
    border-color: #ffffff;
    outline: 0;
    box-shadow: none;
}

input[type="search"]::-webkit-input-placeholder {
    color: #000;
}

input[type="search"]:-ms-input-placeholder {
    color: #000;
}

input[type="search"]::-ms-input-placeholder {
    color: #000;
}

input[type="search"]::placeholder {
    color: #000;
}

.form-control:focus::-webkit-input-placeholder {
    color: transparent
}

.form-control:focus::-moz-placeholder {
    color: transparent
}

.form-control:focus:-moz-placeholder {
    color: transparent
}

.form-control:focus:-ms-input-placeholder {
    color: transparent
}

.input__group {
    @media screen and (max-width: 320px) {
        text-align: left;
    }
}


// Background

.bg_color{
    background-color: #2660ad85;
}

.background {
    background: url(/static/img/background.jpg) no-repeat;
    background-size: cover;
}

.system_button {
    a {
        text-decoration: none;
        color: #fff;
    }
}

.enter_system {
    font-size: 18px;
    font-weight: 350;
    color: #fff;
    text-transform: uppercase;
    position: relative;

}

.icon_enter {
    margin-top: -5px;
    margin-right: 5px;
}

.box_head_bg {
    padding: 60px 0px 60px;
    @media screen and (max-width: 992px) {
        text-align: center;
    }
}

.head_bg_text {

    font-size: 38px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.8;

    @media screen and (max-width: 992px) {
        font-size: 24px;
    }
}

.head_bg_text_small {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    line-height: 1.8;
    margin-top: 20px;

    @media screen and (max-width: 992px) {
        font-size: 18px;
        line-height: 1.2;
    }
}

.head_bg_text_small_two {
    font-size: 22px;
    font-weight: 350;
    color: #fff;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 25px;
}

.head_bg_box_button {
    margin-bottom: 55px;
    @media screen and (max-width: 992px) {
       text-align: center;
    }
}

.request {
    background: transparent;
    border: none;
    @media screen and (max-width: 350px) {
        margin-bottom: 35px;
        padding: 0px;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
    }
}

.service {
    background: transparent;
    border: none;
    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 450;
    }
}



.request_button {
    background-color: #2660ad;
    border: none;
    padding: 12px 50px; 
    text-decoration: none;
    @media screen and (max-width: 992px) {
        padding: 12px 15px;
    }
    &:hover {
        background-color: #3772c0;
        transition: 0.2s;
        color: #fff;
    }
}

.service_button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 50px;
    margin-left: 25px;
    color: #fff;
    @media screen and (max-width: 992px) {
        padding: 10px 45px;  
        margin-left: 0px;           
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.075);
        transition: 0.2s;
    }
}

.sro_np_naks_text {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 0px;
}

.naks_link {
    font-size: 16px;
    font-weight: 300;

    a {
        color: #fff;
    }

    line-height: 1.8;
    margin-top: 5px;
}

.naks_link .spks_link{
    margin-left: 10px;
}