.box_info_content{
background: #f1f1f12c;
padding: 35px;
}

.side_panel_right_column_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;    
}

.side_panel_list_link{
padding: 0px;
}

.side_panel_list_link li{
    list-style: none;
    line-height: 1.9;
}

.headline_content_box_content{
    font-size: 22px;
color: #33465f;
padding: 0px 0px 25px;
}

.subtitle_content_box_content{
font-size: 18px;
color: #33465f;
padding: 25px 0px 25px;
}

.page_details_rules{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0px;

}

.page_details_content_text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}