.headline_name_box {
  font-size: 30px;
  line-height: 35px;
  color: #555555;
}

.head_box_content_small_text {
  font-size: 18px;
  color: #555555;
}

.content_center_text {
  font-size: 14px;
  line-height: 1.9;
  font-weight: 400;
  color: #000000;
}

.center_podrobnee {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-top: 10px;

  a {
    border: 1px solid #eee;
    padding: 12px 25px;
    text-decoration: none;
    color: #555555;
    font-size: 16px;

    &:hover {
      background-color: #ebebeb;
      transition: 0.3s;
    }
  }
}


// Услуги

.headline_box_content{
  @media screen and (max-width: 768px) {
    padding: 45px 0px 0px;
   }
}

.list_link li::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  margin-top: 10px;
  // margin-left: 30px;
  background: url(/static/img/arrow_punkt.png) center 0 no-repeat;
}

.list_link{
  list-style: none;
  padding: 0px;
}

.list_link li{
  margin-bottom: 15px;
  padding: 0px 25px;
}

.service_link a {
  color: #33465f;
  font-size: 20px;
  text-decoration: none;
  &:hover{
    color: #6184b1;
    transition: 0.3s;
  }
}


// Центр аттестации


.back_to_home_page{
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
  margin-top: 15px;
  a{   
    padding: 12px 25px;
    border: 1px solid #33465f;
    text-decoration: none;
    color: #33465f;
    font-size: 16px;
    &:hover{
      background-color: #33465f18;
      transition: 0.3s;
    }
  }
}

.img_back_to_page{
  width: 5px;
  margin-top: -3px;
  padding: 0px;
  margin-right: 20px;  
}

.box_img_center{
  padding: 50px 0px 30px;
}

.box_center_content{
  padding: 25px 0px 25px;
}


.headline_center{
  font-size: 26px;
  font-weight: 450;
  color: #33465f;
}

.content_center_text{
font-size: 16px;
line-height: 1.8;
}

.subtitle_center{
  font-size: 20px;
  font-weight: 450;
  color: #33465f;
}

.box_content_step{
margin-top: 25px;
}

.list_step_content_center{
  padding: 0px;
}

.list_step_content_center li{
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: #797979;
  line-height: 1.6;
  padding: 0px 0px 10px;
}