
.headline_name_box{
    font-size: 30px;
    line-height: 35px;
    color: #555555;
}

.head_box_content_small_text{
    font-size: 18px;  
    color: #555555;
  }
  
  .content_center_text{
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    color: #000000;
  }

  .center_podrobnee{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-top: 10px;
    a{
      border: 1px solid #eee;
      padding: 12px 25px;
      text-decoration: none;
      color: #555555;
      font-size: 16px;
      &:hover{
        background-color: #ebebeb;
        transition: 0.3s;
      }
    }
  }


  // Услуги

  .box_service{
    padding: 25px;
    background-color: #eee;
  }

