@charset "UTF-8";
.box_header {
  padding: 25px 0px; }
  @media screen and (max-width: 400px) {
    .box_header {
      padding: 5px 0px; } }

@media screen and (max-width: 576px) {
  .logo_box_head {
    padding: 15px 10px;
    text-align: center; } }

@media screen and (max-width: 942px) {
  .logo_box_free {
    display: none; } }

.logo_otstup {
  margin-left: 15px;
  margin-right: 15px; }

@media screen and (max-width: 576px) {
  .head_number {
    text-align: center; } }

.head_number a {
  font-size: 26px;
  font-weight: 500;
  color: #000;
  text-decoration: none; }
  @media screen and (max-width: 1300px) {
    .head_number a {
      font-size: 20px; } }

.consultant_text {
  font-size: 14px; }

.feedback_button a {
  text-decoration: none;
  color: #2660ad; }

@media screen and (max-width: 576px) {
  .feedback_button {
    padding: 15px 10px;
    margin-bottom: 10px;
    text-align: center; } }

.feedback_header {
  font-size: 16px;
  font-weight: 400;
  border: 0.5px solid #2660ad;
  padding: 15px 40px; }
  .feedback_header:hover {
    background-color: #336ebd;
    transition: 0.2s;
    color: #fff; }

.logo_box_sasp {
  text-align: right; }
  @media screen and (max-width: 1399px) {
    .logo_box_sasp {
      display: none; } }

.menu__background {
  background-color: #33465f;
  padding: 20px 0px 20px 0px; }
  @media screen and (max-width: 992px) {
    .menu__background {
      padding: 15px 0px;
      margin-bottom: 0px; } }

.line_menu {
  border: 0.5px solid #fff; }

.navbar {
  font-size: 16px;
  color: #fff;
  text-align: center; }

.menu__navbar {
  text-align: right; }

.menu__navbar ul {
  color: #fff;
  font-size: 16;
  text-transform: uppercase;
  justify-content: space-between; }
  @media screen and (max-width: 992px) {
    .menu__navbar ul {
      margin-top: 15px;
      margin-bottom: 15px; } }

.menu__navbar .navbar {
  padding: 0; }

.menu__navbar .navbar li {
  cursor: pointer; }

.menu__navbar .navbar .nav-item .nav-link {
  padding: 0;
  color: #fff;
  font-weight: 350; }

.menu__navbar .navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 35px; }
  @media screen and (max-width: 992px) {
    .menu__navbar .navbar-expand-lg .navbar-nav .nav-link {
      margin: 0;
      margin-bottom: 15px; } }

.dropdown-item {
  padding: 12px; }
  @media screen and (max-width: 320px) {
    .dropdown-item {
      margin-bottom: 10px;
      padding: 0px 10px; } }

.dropdown-menu {
  margin-top: 30px;
  color: #ecf5fe;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 15px;
  text-transform: initial;
  padding: 12px; }
  @media screen and (max-width: 320px) {
    .dropdown-menu {
      font-size: 16;
      width: 290px; } }

.dropdown-menu a {
  margin-bottom: 1px solid #000; }
  @media screen and (max-width: 320px) {
    .dropdown-menu a {
      font-size: 12px; } }

.dropdown-item:hover {
  border-radius: 15px;
  background-color: rgba(173, 173, 173, 0.185);
  transition: 0.3s; }

.dropdown-item {
  border-radius: 15px; }

.menu__navbar .navbar .nav-item .nav__link__two {
  margin-right: 35px;
  color: #fff;
  font-weight: 350; }

@media screen and (max-width: 992px) {
  .nav-item .nav__link__two .dropdown-menu {
    display: none; } }

@media screen and (max-width: 992px) {
  .navbar-collapse {
    line-height: 2; } }

@media screen and (max-width: 320px) {
  .navbar-collapse {
    line-height: 2; } }

.navbar-dark .navbar-nav .nav-link .navbar-dark .navbar-nav .nav-link:hover {
  color: white; }

.navbar-dark .navbar-toggler {
  background-color: transparent;
  border: none; }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #03274b; }

.navbar-toggler {
  padding: 0px; }

.form-control {
  background-color: transparent;
  float: right; }

@media screen and (max-width: 320px) {
  .form-inline {
    width: 75%; } }

.form-control:focus {
  color: #000;
  background-color: transparent;
  border-color: #ffffff;
  outline: 0;
  box-shadow: none; }

input[type="search"]::-webkit-input-placeholder {
  color: #000; }

input[type="search"]:-ms-input-placeholder {
  color: #000; }

input[type="search"]::-ms-input-placeholder {
  color: #000; }

input[type="search"]::placeholder {
  color: #000; }

.form-control:focus::-webkit-input-placeholder {
  color: transparent; }

.form-control:focus::-moz-placeholder {
  color: transparent; }

.form-control:focus:-moz-placeholder {
  color: transparent; }

.form-control:focus:-ms-input-placeholder {
  color: transparent; }

@media screen and (max-width: 320px) {
  .input__group {
    text-align: left; } }

.bg_carousel_content_color {
  background-color: #20202085; }

.bg_carousel_content_one {
  background: url(/static/img/background.jpg) no-repeat;
  background-size: cover; }

.bg_carousel_content_two {
  background: url(/static/img/nerazrush.jpg) no-repeat;
  background-size: cover; }

.bg_carousel_content_three {
  background: url(/static/img/background.jpg) no-repeat;
  background-size: cover; }

.system_button a {
  text-decoration: none;
  color: #fff; }

.enter_system {
  font-size: 18px;
  font-weight: 350;
  color: #fff;
  text-transform: uppercase;
  position: relative; }

.icon_enter {
  margin-top: -5px;
  margin-right: 5px; }

.box_head_bg {
  padding: 60px 100px 60px; }
  @media screen and (max-width: 992px) {
    .box_head_bg {
      text-align: center;
      padding: 20px 0px 20px; } }

.headline_bg_content {
  font-size: 38px;
  font-weight: 500;
  color: #fff;
  line-height: 1.6; }
  @media screen and (max-width: 992px) {
    .headline_bg_content {
      font-size: 18px; } }

.head_bg_text_small {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  line-height: 1.8;
  margin-top: 20px; }
  @media screen and (max-width: 992px) {
    .head_bg_text_small {
      font-size: 18px;
      line-height: 1.2; } }

.head_bg_text_small_two {
  font-size: 22px;
  font-weight: 350;
  color: #fff;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 25px; }
  @media screen and (max-width: 992px) {
    .head_bg_text_small_two {
      font-size: 16px; } }

.head_bg_box_button {
  margin-bottom: 55px; }
  @media screen and (max-width: 992px) {
    .head_bg_box_button {
      text-align: center;
      margin-bottom: 10px; } }

.request {
  background: transparent;
  border: none;
  padding: 0px; }
  @media screen and (max-width: 320px) {
    .request {
      margin-bottom: 15px;
      padding: 0px; } }
  .request a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400; }

.request_button {
  background-color: #2660ad;
  border: none;
  padding: 12px 50px;
  text-decoration: none; }
  @media screen and (max-width: 1079px) {
    .request_button {
      padding: 12px 20px; } }
  .request_button:hover {
    background-color: #3772c0;
    transition: 0.2s;
    color: #fff; }

.request_for_menu {
  background: transparent;
  border: none;
  padding: 0px; }
  @media screen and (max-width: 320px) {
    .request_for_menu {
      margin-bottom: 15px;
      padding: 0px; } }
  .request_for_menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400; }
    @media screen and (max-width: 1079px) {
      .request_for_menu a {
        font-size: 14px; } }

.request_button_for_menu {
  background-color: #2660ad;
  border: none;
  padding: 22.5px 50px;
  text-decoration: none; }
  @media screen and (max-width: 1079px) {
    .request_button_for_menu {
      padding: 22.5px 20px; } }
  .request_button_for_menu:hover {
    background-color: #3772c0;
    transition: 0.2s;
    color: #fff; }

.service {
  background: transparent;
  border: none;
  padding: 0px; }
  .service a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 350; }

.service {
  background: transparent;
  border: none;
  padding: 0px; }
  .service a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 350; }

.service_button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 50px;
  color: #fff; }
  @media screen and (max-width: 992px) {
    .service_button {
      padding: 10px 45px;
      margin-left: 0px; } }
  .service_button:hover {
    background-color: rgba(255, 255, 255, 0.075);
    transition: 0.2s; }

.box_footer_bg {
  padding: 50px; }
  @media screen and (max-width: 435px) {
    .box_footer_bg {
      padding: 15px 15px 15px; } }

.box_footer_bg {
  background-color: #2a2d31;
  margin-top: -5px; }

.footer_text_company {
  color: #6f7379;
  margin-top: 35px;
  margin-bottom: 25px; }

.spks_logo {
  margin-left: 15px; }
  @media screen and (max-width: 435px) {
    .spks_logo {
      margin-bottom: 15px;
      margin-top: 15px; } }

.name_info_block {
  color: #6f7379;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500; }

.footer_number {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0px; }

.footer_number_text {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px; }

.footer_number_mail {
  font-size: 14px;
  color: #fff; }

.footer_news {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0px; }

.date_news_footer {
  color: #6f7379;
  font-size: 12px;
  font-weight: 400; }

.point_grey::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  margin-top: 5px;
  background: url(/static/img/kvadrat_grey.png) center 0 no-repeat; }

.footer_info_link {
  font-size: 14px;
  color: #fff;
  margin-left: 15px; }

.feedback_button_footer a {
  text-decoration: none;
  color: #fff;
  margin-top: 35px; }

@media screen and (max-width: 435px) {
  .feedback_button_footer {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media screen and (max-width: 435px) {
  .feedback_button_footer {
    margin-top: 15px; } }

.feedback_footer {
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ffe13a;
  padding: 10px 50px;
  border-radius: 45px;
  color: #fff; }
  @media screen and (max-width: 435px) {
    .feedback_footer {
      margin-top: 25px; } }
  .feedback_footer:hover {
    background-color: #ffffff25;
    transition: 0.2s; }

.box_basement {
  padding: 15px 0px 0px; }
  @media screen and (max-width: 435px) {
    .box_basement {
      text-align: center; } }

.basement_text_prava_kompany {
  font-size: 12px;
  color: #6f7379;
  margin-bottom: 0px; }

.political_konf {
  font-size: 12px;
  color: #6f7379;
  margin-bottom: 0px; }

.razrabotano_basement_footer {
  text-align: right; }
  @media screen and (max-width: 435px) {
    .razrabotano_basement_footer {
      text-align: center; } }
  .razrabotano_basement_footer a {
    color: #6f7379; }

/* Modal Window */
.modal {
  z-index: 100001; }

.modal-dialog {
  max-width: 1400px; }

.modal .custom-control-label a {
  text-decoration: underline; }

.modal .custom-control-label a:hover {
  text-decoration: none; }

.modal-header {
  border-bottom: none;
  background-color: #ffffff;
  color: #fff;
  border-top: 15px solid #50b3ff; }

.modal-footer {
  justify-content: flex-start;
  border-top: none;
  padding: 0px 45px 75px; }
  @media screen and (max-width: 450px) {
    .modal-footer {
      padding: 0px 35px 35px; } }

.modal-content {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 0;
  border: none; }

.form-control-sm {
  height: 35px;
  border: transparent;
  border-radius: 0; }

.modal-content .form-control {
  background-color: transparent;
  border-bottom: 1px solid #b6b6b6;
  color: #333333;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px; }
  .modal-content .form-control:focus {
    background-color: #f5f5f5;
    box-shadow: none; }

.modal-content .form-control option {
  color: #000; }

.modal-content .custom-control-label::before {
  background-color: transparent;
  border: 1px solid #3f3f3f; }

.modal-content .custom-control-input:checked ~ .custom-control-label::before {
  color: #3f3f3f;
  background-color: #3f3f3f; }

.modal-header-feedback {
  padding: 0px; }

.modal-header {
  position: relative;
  display: block;
  border-radius: 0;
  padding: 45px; }

.custom-control-label::after {
  cursor: pointer; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0; }

.custom-control-checkbox {
  padding-left: 0.9rem;
  cursor: pointer; }

.modal-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 200;
  color: #000; }

@media screen and (max-width: 450px) {
  .modal-header {
    padding: 35px 25px 15px; } }

.modal-body {
  padding: 0px 45px 25px;
  color: #000; }
  @media screen and (max-width: 450px) {
    .modal-body {
      padding: 0px 25px 15px; } }

.modal-header p {
  font-size: 18;
  line-height: 1.8;
  color: #000; }

.modal-header .close {
  position: absolute;
  right: 2rem;
  top: 0;
  font-size: 2.5rem;
  font-weight: 100;
  opacity: 1;
  line-height: inherit;
  padding: 1rem;
  margin: 0; }
  @media screen and (max-width: 320px) {
    .modal-header .close {
      margin-right: -25px; } }

input ~ label[for="soglasie"] {
  width: 100%;
  font-size: 16px;
  margin: 25px 0px 0px 10px;
  padding: 0px; }

input ~ label[for="sogl"] {
  width: 100%;
  font-size: 16px;
  margin: 10px 0px 0px 10px;
  padding: 0px; }

.button__to__send_zayavka__formmodal {
  background-color: #50b3ff;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 45px; }
  .button__to__send_zayavka__formmodal:hover {
    background-color: #62b9fc; }
  .button__to__send_zayavka__formmodal:active {
    background-color: #3987c2; }
  @media screen and (max-width: 450px) {
    .button__to__send_zayavka__formmodal {
      padding: 15px; } }

/* Выбор несколько из списка */
.choose__item .items {
  list-style: none;
  padding: 0;
  margin: 0; }

.choose__item .items li {
  display: block;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 350;
  border: 1px #39567e solid;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0px 15px 15px 0px;
  float: left; }

.choose__item .items li:hover {
  background-color: #39567e;
  transition: 0.5s;
  transform: scale(1.02, 1.02);
  color: #fff; }

.choose__item .items li:active {
  background-color: #45638d; }

.selected {
  background-color: #39567e;
  border-radius: 300px;
  padding: 7px;
  color: #fff; }

hr {
  clear: both; }

.checks {
  opacity: 0; }

.col-form-label-sm {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 350; }

.modal__title__small__text {
  font-size: 18px;
  font-weight: 500; }

.accompanying__message__bold {
  font-size: 18px;
  font-weight: 400; }

.file-uploader {
  border-radius: 3px;
  color: #242424; }

.file-uploader__message-area {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px; }

.file-list {
  background-color: #d0ffd6; }

.file-list__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.file-list li {
  height: 50px;
  line-height: 50px;
  border: none;
  overflow: hidden;
  font-size: 18px; }

.removal-button {
  width: 20%;
  border: none;
  color: white;
  background-color: #ff9999;
  cursor: pointer; }
  .removal-button:hover {
    background-color: #fc8181;
    transition: 0.2s; }
  .removal-button:active {
    background-color: #f76464;
    transition: 0.2s; }
  .removal-button::before {
    content: '\2716'; }
  .removal-button:focus {
    outline: 0; }

.file-chooser {
  padding: 1em;
  transition: background-color 1s, height 1s;
  margin-top: 10px; }

.file-uploader {
  max-width: 400px;
  height: auto; }

.file-list__name {
  max-width: 70%;
  float: left; }

.removal-button {
  display: inline-block;
  height: 100%;
  float: right; }

.file-chooser {
  padding: 0;
  background: transparent; }

input[type=file] {
  border: none; }

.file-chooser__input {
  margin: 0 auto; }

.file-uploader__submit-button {
  border-radius: 3px;
  border: none;
  margin-top: 15px;
  color: white;
  background-color: #8fb6f5;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer; }
  .file-uploader__submit-button input[type=submit] {
    border: none; }
  .file-uploader__submit-button:focus {
    box-shadow: none;
    outline: none; }
  .file-uploader__submit-button:hover {
    background-color: #325fa8; }
  .file-uploader__submit-button:active {
    background-color: #254e8f; }

.file-list li:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }
  .hidden input {
    display: none; }

.error {
  background-color: #d65d38;
  color: white; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@media screen and (max-width: 576px) {
  .probel {
    display: none; } }

@media screen and (max-width: 576px) {
  .line__grey {
    border: 0.5px solid #eeeeee;
    margin-bottom: 5px; } }

@media screen and (max-width: 320px) {
  .line__grey {
    border: 0.5px solid #eeeeee;
    margin-bottom: 5px; } }

body {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff; }

@media (min-width: 360px) {
  .container {
    max-width: 1570px; } }

.container-fluid {
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px; }

.header__political {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 450;
  color: #000;
  margin-top: 15px; }
  @media screen and (max-width: 1199px) {
    .header__political {
      margin-top: 15px; } }

.political__text__small {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px; }

.text_pynkt {
  font-size: 14px;
  font-weight: 450; }

.line_end {
  border: 0.5px solid #ebebeb;
  margin-top: 25px;
  margin-bottom: 25px; }

.header_right_column {
  font-size: 20px;
  font-weight: 400;
  color: #000; }

.box_right_column a {
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8; }

.sider_bar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(45vh); }

.left_line_headline {
  border: 0.5px solid #39567e;
  margin-top: 35px;
  width: 95px; }
  @media screen and (max-width: 992px) {
    .left_line_headline {
      display: none; } }

.box_content_include {
  padding: 45px 0px 45px; }

.bg_info_box {
  padding: 25px 0px 25px;
  background-color: #e7f1ff; }

.info_box_text {
  font-size: 13px;
  color: #4b5c72;
  margin-bottom: 0px;
  text-align: center; }

.info_box_text {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #4b5c724f; }
  @media screen and (max-width: 1199px) {
    .info_box_text {
      border-right-width: 0px; } }

.naks_link {
  font-size: 13px;
  font-weight: 300; }
  .naks_link a {
    color: #4b5c72;
    line-height: 1.8; }

.naks_link .spks_link {
  margin-left: 10px; }

.info_box_standarti {
  text-align: center;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #4b5c724f; }
  @media screen and (max-width: 1199px) {
    .info_box_standarti {
      border-right-width: 0px;
      margin-top: 15px; } }

.info_box_standarti a {
  text-decoration: none;
  color: #4b5c72;
  text-decoration: underline; }

.profstandarti_link {
  font-size: 18px;
  color: #4b5c72; }

.info_box_text_small {
  font-size: 13px;
  color: #4b5c72;
  margin-top: 10px;
  margin-bottom: 0px; }

.info_box_feedback {
  text-align: center; }
  @media screen and (max-width: 1199px) {
    .info_box_feedback {
      margin-top: 25px; } }

.feedback_button_header a {
  text-decoration: none;
  color: #fff;
  margin-top: 35px; }

.feedback_header {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  background-color: #758497;
  padding: 10px 50px;
  border-radius: 45px;
  color: #fff;
  border: none; }
  .feedback_header:hover {
    background-color: #53667e;
    transition: 0.2s; }

.carousel-control-prev-icon {
  background: url(/static/img/arrow.png) no-repeat;
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 55px;
  height: 55px;
  margin-right: 25px; }

.carousel-control-next-icon {
  background: url(/static/img/arrow.png) no-repeat;
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 55px;
  height: 55px;
  margin-right: 25px; }

.headline_name_box {
  font-size: 30px;
  line-height: 35px;
  color: #555555; }

.head_box_content_small_text {
  font-size: 18px;
  color: #555555; }

.content_center_text {
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  color: #555555; }

.feedback_button_contacti a {
  text-decoration: none;
  color: #fff;
  margin-top: 35px; }

.feedback_contacti {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  background-color: #23395d;
  padding: 10px 50px;
  border-radius: 45px;
  color: #fff; }
  .feedback_contacti:hover {
    background-color: #2f4870;
    transition: 0.2s; }

.img-item {
  margin-left: 50px;
  padding: 25px; }

.owl-dot:focus {
  box-shadow: none;
  outline: none;
  border-radius: 0px; }

.owl-nav {
  display: none; }

.owl-dots {
  display: none; }

.box_document {
  margin-top: 25px;
  margin-bottom: 25px; }
  .box_document a {
    text-decoration: none; }

.box_document_list {
  margin-top: 25px;
  margin-bottom: 25px; }
  .box_document_list a {
    text-decoration: none; }

.box_doc_file a {
  text-decoration: none; }

.box_doc_file {
  border: 1px solid #f6f6f6;
  padding: 25px 25px;
  height: 110px;
  margin-bottom: 15px; }
  .box_doc_file:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
    border: 1px solid #9ed8ff;
    transition: 0.2s; }

.box_doc_file_height {
  border: 1px solid #f6f6f6;
  padding: 25px 25px;
  height: 102px;
  margin-bottom: 15px; }
  .box_doc_file_height:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
    border: 1px solid #9ed8ff;
    transition: 0.2s; }

.icon_pdf::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  margin-top: 5px;
  margin-left: 30px;
  background: url(/static/img/icon_pdf-01.svg) center 0 no-repeat; }

.doc_text_name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #5a5a5a;
  margin-left: 55px;
  margin-bottom: 0; }

.icon_word::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  margin-top: 5px;
  margin-left: 30px;
  background: url(/static/img/icon_word-01.svg) center 0 no-repeat; }

.box_doc_button {
  text-align: center; }

.more_doc {
  font-size: 18px;
  font-weight: 350;
  padding: 10px 45px;
  cursor: pointer;
  color: #979797;
  background-color: transparent;
  border: none;
  border: 1px solid #c0c0c0; }
  .more_doc:hover {
    border: 1px solid #9ed8ff;
    transition: 0.2s; }

.hidden {
  display: none; }

.show {
  display: block; }

.prikrep__doc {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px; }

.soglashenie__button {
  background-color: transparent;
  border: none;
  padding: 0; }

.soglashenie__button a {
  text-decoration: none; }

.soglashenie__button__text {
  border: 1px #8d8d8d solid;
  padding: 10px 15px;
  display: block;
  font-size: 14px;
  color: #8d8d8d; }

.soglashenie__button__text:hover {
  color: #585858; }

.download__icon {
  margin-left: 10px; }

.soglashenie__button__text:hover {
  background-color: #f1f1f1;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -moz-cursor: pointer; }

.box_background_contacti {
  background: url(/static/img/background_contacti.png) no-repeat;
  background-size: cover; }

.box_content_contacti {
  background-color: #f5f9fee8;
  -moz-background-color: #f5f9fee8;
  -o-background-color: #f5f9fee8;
  -ms-background-color: #f5f9fee8;
  -webkit-background-color: #f5f9fee8; }

.number_contacti {
  font-size: 28px;
  font-weight: 550;
  color: #14284b;
  margin-bottom: 0px;
  display: inline-block; }
  .number_contacti a {
    text-decoration: none;
    color: #14284b; }
    .number_contacti a:hover {
      color: #254172; }

@media screen and (max-width: 435px) {
  .box_contacti_number {
    text-align: center; } }

.text_number_contacti {
  font-size: 16px;
  font-weight: 400;
  color: #14284b; }
  @media screen and (max-width: 435px) {
    .text_number_contacti {
      margin-bottom: 5px; } }

.mail_contacti {
  font-size: 18px;
  font-weight: 500;
  color: #14284b;
  float: right;
  display: inline-block; }
  @media screen and (max-width: 435px) {
    .mail_contacti {
      display: none; } }

.mail_contacti_mob {
  font-size: 18px;
  font-weight: 500;
  color: #14284b;
  display: none; }
  @media screen and (max-width: 435px) {
    .mail_contacti_mob {
      display: block;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 10px; } }

.info_text_contacti {
  font-size: 18px;
  color: #14284b;
  font-weight: 400;
  text-align: center; }

/*# sourceMappingURL=style.css.map */