{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="bg_header_inner_page" id="page_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="headline_bg_inner_page">
                    Аттестация сварочного <br> оборудования
                </div>
                <button class="back_to_home_page">
                    <a href="{% url 'index' %}" class="link_to_home_page">
                        <img src="/static/img/back_to_page.png" class="img_back_to_page" alt="">На главную
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="box_content_in_pages">
        <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="box_info_content">
                            <div class="headline_content_box_content">
                                Аттестация сварочного оборудования
                            </div>
                            <p class="page_details_rules">
                                В соответствии с РД 03-614-04 аттестацию сварочного оборудования проводят в целях проверки его
                                возможности обеспечивать заданные технологические характеристики для различных способов сварки,
                                определяющие требуемое качество сварных соединений при изготовлении, монтаже, ремонте и
                                реконструкции технических устройств, применяемых на опасных производственных объектах.
                            </p>
                            <div class="subtitle_content_box_content">
                                Аттестация сварочного оборудования бывает следующих видов:
                            </div>
                            <p class="page_details_content_text">
                                - первичная - не проходившее ранее аттестацию сварочное оборудование;
                            </p>
                            <p class="page_details_content_text">
                                - периодическая - аттестованное ранее сварочное оборудование с истекшим сроком действия
                                свидетельством об аттестации;
                            </p>
                            <p class="page_details_content_text">
                                - дополнительная - при расширении области способов сварки (наплавки) и/или групп технических
                                устройств.
                            </p>
                            <div class="subtitle_content_box_content">
                                    ООО «Кузбасский центр сварки и контроля» (АЦСО-82) осуществляет деятельность по аттестации сварочного оборудования потребителя, производителя, представителя производителя следующей областью деятельности:
                                </div>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        {% include 'mainapp/includes/side_panel_links_acsm.html' %}
                    </div>
                </div>
            </div>
</div>
{% endblock %}